%h2 New Provider:

=form_for @provider do |f|
    =f.label :name, 'Name'
    =f.text_field :name

    =f.label :email, 'Email Address'
    =f.text_field :email

    =f.label :phone, 'Phone Number'
    =f.text_field :phone

    =f.label :street_address, 'Address'
    =f.text_field :street_address

    =f.submit 'List me!'
