.provider
  %h3
    =@provider.name
    = link_to 'Edit This Provider', edit_provider_path(@provider), {:style => 'float: right'}
  %ul
    %li
      Email: 
      =@provider.email
    %li
      Phone: 
      =@provider.phone
    %li
      Address:
      %br
      =@provider.street_address
    %li
      Specialties:
      - if @provider.specialties
        %ul
        - @provider.specialties.each do |specialty|
          %li
            = specialty

