%h2
    Provider:
    =@provider.name

%ul
    %li
        Email: 
        =@provider.email
    %li
        Phone: 
        =@provider.phone
    %li
        Address:
        %br
        =@provider.street_address
