.requests-all
  %h2
    Requests:
  %ul    
  -@requests.each do |request|
    %li
      =link_to("\"#{request.text}\"", request_path(request))
      ="--"
      =time_ago_in_words(request.job_date) rescue 'some time'
      ago
