%h2 New Request:

=form_for @request do |f|
    =f.label :text, 'Request'
    =f.text_area :text, {:size => '40x4', :placeholder => 'I need...'}

    =f.label :job_date, 'Job Date'
    =f.datetime_select :job_date

    %br
    =f.check_box :allow_callback
    =f.label :allow_callback, 'I would like to receive calls', {:style => 'display: inline'}

    %br
    =f.submit 'Submit Request'
