%h2
    A Friendly Request:
%ul
    %li
        Description: 
        %br
        =@request.text
    - if @request.allow_callback
      %li
        = @request.requester.phone_number
    %li
        Job Date:
        %br
        =@request.job_date
    %li
        Expires At:
        %br
        =@request.expires_at
